{{define "main"}}

<article>

  <!-- Jumbotron -->
<div class="w-full mb-4 bg-primary-600">

{{ if and (isset .Params "featured_image") .Params.featured_image }}
  {{ with resources.Get .Params.featured_image }}
    {{ $optimizedFeaturedImage := .Resize "1920x1080 webp q90" }}
    <div 
      class="loading:lazy sm:h-[13em] lg:h-[14rem] min-h-[10em] max-h-[16rem] md:max-h-screen items-center justify-center page-header overflow-hidden bg-cover bg-no-repeat border-2 border-elm-600 md:sticky"
      style="background-position: 70%; background-image: url('{{ $optimizedFeaturedImage.RelPermalink }}');">
    </div>	
 
  {{ end }}
  {{ else }}
  
    <div 
      class="loading:lazy sm:h-[13em] lg:h-[14rem] min-h-[10em] max-h-[16rem] md:max-h-screen items-center justify-center page-header overflow-hidden bg-cover bg-no-repeat border-2 border-elm-600 md:sticky"
      >
    <span class="py-20">
                   <h1 class="py-16 text-3xl sm:text-4xl md:text-5xl lg:text-5xl font-semibold text-center text-white capitalize h1 text-gray-900">
                   {{ .Title }}
                   </h1>
                </span>
                 </div>	
               
  {{ end }}
  </div>
</div>

  <!-- Content-Container -->
  <div class="max-w-5xl px-6 pt-0 pb-16 mx-auto prose">
    {{ if eq .Section "seelsorge" }}
      {{ partial "mitmachen/seelsorge-profile.html" . }}
    {{ else }}
      {{ .Content }}
    {{ end }}
  </div>

</article>

{{end}}



