<!-- Footer section -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

{{ $scripts := resources.Get "js/main.js" | minify | fingerprint | resources.PostProcess }}
<script src="{{ $scripts.RelPermalink }}" integrity="{{ $scripts.Data.Integrity }}" defer></script>

{{- $protect := resources.Get "js/protect-contact.js" | js.Build | minify | fingerprint -}}
<script defer src="{{ $protect.RelPermalink }}" integrity="{{ $protect.Data.Integrity }}"></script>



<footer class="mt-auto bg-gray-900">
    <div class="max-w-md px-4 py-12 mx-auto overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
            {{ range site.Menus.footer }}
            <div class="px-5 py-2">
                <a href="{{ .URL | absLangURL }}" class="text-base text-gray-400 hover:text-gray-300">{{ .Name }}</a>
            </div>
            {{ end }}
        </nav>
        <div class="flex justify-center mt-8 space-x-6">
            {{ if .Site.Params.Social_media.Facebook.Enabled }}
            <a href="{{ $.Site.Params.Social_media.Facebook.Url }}" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">Facebook</span>
               <span class="icon-[ic--baseline-facebook] text-gray-400 hover:text-gray-300" style="font-size: 30px;" ></span>
            </a>
            {{ end }}
            {{ if .Site.Params.Social_media.Instagram.Enabled }}
            <a href="{{ $.Site.Params.Social_media.Instagram.Url }}" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">Instagram</span>
                 <span class="icon-[mdi--instagram] text-gray-400 hover:text-gray-300" style="font-size: 30px;" ></span>
            {{ end }}
            {{ if .Site.Params.Social_media.Twitter.Enabled }}
            <a href="{{ $.Site.Params.Social_media.twwitter.Url }}" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">Twitter</span>
                <span class="icon-[mdi--twitter] text-gray-400 hover:text-gray-300" style="font-size: 30px;"></span>
            </a>
            {{ end }}
            {{ if .Site.Params.Social_media.youtube.Enabled }}
            <a href="{{ $.Site.Params.Social_media.youtube.Url }}" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">YouTube</span>
                   <span class="icon-[mdi--youtube] text-gray-400 hover:text-gray-300" style="font-size: 30px;" ></span>
            </a>
            {{ end }}
        </div>
        <p class="mt-8 text-base text-center text-gray-400">&copy; {{ now.Format "2006" }}
            {{ .Site.Title }}. All rights
            reserved.</p>
        <p class="mt-2 text-base text-center text-gray-400">Made with  <a
               href="https://nusserstudios.com" class="hover:underline hover:text-primary-600"><span
                      class="font-black uppercase">Nusser</span> <span class="font-light uppercase">Studios.</span></a>
        </p>
    </div>
</footer>
